header {
    padding: 50px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;

}

main {
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

h2 {
    background-color: aquamarine;
}

p {
    font-size: 1.2rem;
}

.demo {
    display: flex;
    
}

.card, .demogif {
    width: auto;
    height: 300px;
    padding: 10px;
}