header {
    padding: 50px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;

}

main {
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

h2 {
    background-color: aquamarine;
}

p {
    font-size: 1.2rem;
}

.demo {
    display: flex;

}

.card { 
    width: 100%;
    padding: 10px;
}

.demogif {
    width: 100%;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


@media (min-width: 700px) {
    .wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .content-paragraph {
        flex: 0 0 40%; 
        padding-right: 15px;
    }

    .image-grid {
        flex: 1 1 60%; 
    }
}