header {
    padding: 30px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;

}

main {
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

h2 {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    margin: 0;
    z-index: 10;
}

p {
    font-size: 1.2rem;
    padding: 10px;
}

.chapter-section {
    padding: 0;
    margin-bottom: 5px;
    background-color: #f7f7f7;
}


.demo {
    display: flex;

}

.card {
    width: 100%;
    padding: 10px;
}

.demogif {
    width: 100%;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


@media (min-width: 700px) {
    .wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .content-paragraph {
        position: sticky;
        top: 70px;
        margin: 0;
        flex: 0 0 40%;
        padding-right: 15px;
    }

    .image-grid {
        flex: 1 1 60%;
    }
}